.about-event-container {
  background-color: black;
  height: 640px;
  top: 48px;
  margin-left: 16px;
  margin-right: 16px;
  width: 343px;
}

.about-event-container > h6 {
  color: #F2A900;
  font-family: 'Headliner No. 45', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 128%;
  margin: 40px 0 10px 0;
}

.about-event-container > h2 {
  color: white;
  font-family: 'Headliner No. 45', sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 112%;
  margin: 5px;
}

.about-event-container > div > button {
  margin-top: 38px;
  margin-bottom: 0px;
}

.about-text {
  color: white;
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 184%;
  top: 10px;
}

.rules-link {
  color: #FFB70F;
  font-weight: 700;
  font-size: 14px;
  height: 21px;
  text-decoration: underline;
  text-transform: uppercase;
}

.rules-div {
  margin-top: 10px;
}

.gradline {
  background-color: #729DA6;
  border-radius: 5px;
  height: 2px;
  width: 280px;
}

@media only screen and (min-width: 650px) {
  .about-event-container {
    margin-top: 4%;
    width: 40%;
  }

  .gradline {
    width: 401px;
  }
}
