.hero-container {
  background-image: url(/_next/static/media/hero-764px.cf6c585c.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 640px;
  margin-bottom: 23px;
  width: 764px;
}

.spray-wrapper {
  position: relative;
  overflow: hidden;
  top: 364px;
}

.spray-wrapper > span {
  max-width: 650px !important;
  right: -9px !important;
  top: -21px !important;
  width: 623px !important;
}

.vikendi-wrapper-desk {
  display: none;
}

.vikendi-wrapper > span {
  height: 107px !important;
  top: 99px;
  left: 207px;
  max-width: 345px !important;
  width: 345px !important;
}

.hero-container > div > button {
  height: 48px;
  left: calc(50% - 201px/2);
  position: absolute;
  top: 556px;
  width: 201px;
}

@media only screen and (min-width: 850px) {
  .hero-container {
    background-image: url("../public/Assets/hero-1920px.png");
    background-position: 35% 30%;
    background-repeat: no-repeat;
    background-size: 1920px;
    bottom: 0px;
    overflow: hidden;
    left: -240px;
    right: -240px;
    top: 0px;
    height: 704px;
    width: 1920px;
    max-width: 100vw;
  }

  .spray-wrapper {
    position: relative;
    overflow: hidden;
    top: 180px;
    width: fit-content;
  }

  .spray-wrapper > span {
    max-width: 905.36px !important;
    height: 464px !important;
    right: 80px !important;
    width: 905.36px !important;
  }

  .vikendi-wrapper {
    display: none;
  }

  .vikendi-wrapper-desk {
    display: flex;
  }

  .vikendi-wrapper-desk > span {
    left: 150px;
    bottom: 180px;
  }

  .hero-container > div > button {
    left: 178px;
    top: 530px;
  }
}