.hero-container {
  background-image: url("../public/Assets/hero-764px.png");
  background-repeat: no-repeat;
  background-position: 50% 100%;
  height: 100vh;
  width: 100vw;
}

.spray-wrapper {
  position: relative;
  overflow: hidden;
  top: 370px;
}

.spray-wrapper > span {
  max-width: 650px !important;
  right: 170px !important;
  width: 623px !important;
}

.vikendi-wrapper-desk {
  display: none;
}

.vikendi-wrapper > span {
  height: 107px !important;
  top: 115px;
  max-width: 345px !important;
  width: 345px !important;
}

.hero-container > div > button {
  height: 48px;
  left: calc(50% - 201px/2);
  position: absolute;
  top: 585px;
  width: 201px;
}

@media only screen and (min-width: 650px) {
  .hero-container {
    background-image: url("../public/Assets/hero-1920px.png");
    background-position: 35% 30%;
    background-repeat: no-repeat;
    background-size: 1920px;
    bottom: 0px;
    left: -240px;
    right: -240px;
    top: 0px;
  }

  .spray-wrapper {
    position: relative;
    overflow: hidden;
    top: 180px;
  }

  .spray-wrapper > span {
    max-width: 905.36px !important;
    height: 464px !important;
    right: 80px !important;
    width: 905.36px !important;
  }

  .vikendi-wrapper {
    display: none;
  }

  .vikendi-wrapper-desk {
    display: flex;
  }

  .vikendi-wrapper-desk > span {
    left: 150px;
    bottom: 180px;
  }

  .hero-container > div > button {
    left: 178px;
    top: 530px;
  }
}