.container {
  background-color: black;
  padding: 0%;
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  min-height: 100vh;
  width: 100vw;
}

.footer {
  background-color: #161720;
  background-image: url('../public/Assets/screenshot-krafton.png');
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  height: 257px;
  width: 100vw;
}

@media only screen and (min-width: 650px) {
  .footer {
    background-image: url('../public/Assets/screenshot-krafton-desktop.png');
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    justify-content: center;
    height: 140px;
    width: 100vw;
  }
}