.rewards-container {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  position: relative;
  margin-bottom: 8rem;
  margin-top: .5rem;
  width: 100vw;
}

.rewards-info > h6 {
  align-items: center;
  color: #F2A900;
  display: flex;
  justify-content: flex-start;
  font-family: 'Headliner No. 45';
  font-weight: 400;
  font-size: 24px;
  line-height: 128%;
  text-transform: uppercase;
  margin: 2rem 1rem 0rem 1rem;
  width: 90%;
}

.rewards-info> h2 {
  align-items: center;
  color: white;
  display: flex;
  justify-content: flex-start;
  font-family: 'Headliner No. 45', sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 112%;
  text-transform: uppercase;
  margin: 0.3rem 1rem 1rem 1rem;
}

.rewards-info > p {
  color: white;
  position: relative;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 184%;
  margin: 0.5rem 1rem 1rem 1rem;
}

.box-div {
  margin-top: 0%;
}

.prize-boxes {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
}

.grafiti-wrapper {
  position: absolute;
  left: 35%;
  top: 95.5%;
  z-index: 1;
  width: 74%;
}

@media only screen and (min-width: 650px) {
  .rewards-info {
    margin: 1% 9% 3%;
    width: 92%;
  }

  .box-div {
    margin-top: 5%;
  }

  .prize-boxes {
    margin: 3% 0 3%;
    width: 100%;
  }
}

@media only screen and (min-width: 950px) {
  .rewards-container {
    padding: 2.2rem 0% 3rem;
    margin-bottom: 0rem;
    margin-top: 0rem;
  }

  .box-div {
    margin-top: 13%;
  }

  .prize-boxes {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    margin: 1% 0 3%;
    width: 100%;
  }

  .rewards-info {
    margin: 1% 9% 0%;
    width: 100%;
  }

  .rewards-info > p {
    width: 38%;
  }

  .grafiti-wrapper {
    left: 70%;
    top: 292px;
  }
}