.steps-container {
  background-image: url('../public/Assets/divider-top.png'), url('../public/Assets/divider-bottom.png'), url('../public/Assets/pubg-kraftonid.png'), url('../public/Assets/dust-light-bg.png');
  background-repeat: no-repeat;
  background-position: top, bottom, bottom 436px right 171px, center;
  background-size: auto, auto, 321px, cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 1rem;
  position: relative;
  overflow: hidden;
  width: 100%;
  z-index: 2;
}

.person-wrapper {
  position: absolute;
  bottom: 65%;
  right: 49%;
  overflow: hidden;
  z-index: 1;
  width: 83%;
}

.steps-title {
  z-index: 3;
  margin: 4rem 2rem 0.3rem;
}

.steps-title > h6 {
  align-items: center;
  color: #F2A900;
  display: flex;
  justify-content: flex-start;
  font-family: 'Headliner No. 45';
  font-weight: 400;
  font-size: 24px;
  line-height: 128%;
  margin: 0rem;
  text-transform: uppercase;
  width: 100%;
}

.steps-title > h2 {
  align-items: center;
  color: black;
  display: flex;
  justify-content: flex-start;
  font-family: 'Headliner No. 45', sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 112%;
  text-transform: uppercase;
  margin: 0.3rem 0rem 1rem 0rem;
}

.steps-wrapper {
  z-index: 3;
  margin: 2.5rem 2rem 5.3rem;
}

.login-btn {
  background: #F2A900;
  border-radius: 2px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Teko', sans-serif;
  font-size: 18px;
  font-weight: 500;
  padding: 11px 71px;
  text-transform: uppercase;
  height: min-content;
  width: min-content;
}

.last-char {
  display: none;
}

@media only screen and (min-width: 850px) {
  .steps-wrapper {
    margin: 2.5rem 0rem .3rem;
  }

  .steps-title {
    margin: 9rem 7rem 1rem 4rem;
  }

  .steps-container {
    background-image: url('../public/Assets/divider-top.png'), url('../public/Assets/divider-bottom.png'), url('../public/Assets/pubg-kraftonid.png'), url('../public/Assets/dust-light-bg.png');
    background-position: top, bottom, bottom 444px left -162px, center;
    background-size: auto, auto, 545px, cover;
    padding-left: 135px;
    margin: 0px;
    height: 870px;
    width: 100vmax;
  }

  .last-char {
    display: block;
    position: absolute;
    width: 230px;
    left: 76%;
    top: 33%;
  }
}